<div ng-controller="ShoppingListCtrl">

    <div class="btn-toolbar">
        <div class="btn-group" data-toggles="buttons" ng-show="listMode == 'planning'">
            <label class="btn btn-default" ng-click="setTimeframe(1)" ng-class="timeframe == 1 ? 'active' : ''">Idag</label>
            <label class="btn btn-default" ng-click="setTimeframe(2)" ng-class="timeframe == 2 ? 'active' : ''">2 dagar</label>
            <label class="btn btn-default" ng-click="setTimeframe(7)" ng-class="timeframe == 7 ? 'active' : ''">En vecka</label>
            <label class="btn btn-default" ng-click="setTimeframe(7)">...</label>
        </div>
        <div class="btn-group pull-right" data-toggles="buttons">
            <label class="btn btn-default" ng-class="listMode == 'planning' ? 'active' : ''" ng-click="toggleListMode()">Planera</label>
            <label class="btn btn-default" ng-class="listMode == 'picking' ? 'active' : ''" ng-click="toggleListMode()">Handla</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group top-buffer">
                <li class="list-group-item clearfix"
                    ng-click="active = !active"
                    ng-class="active ? 'active' : ''"
                    ng-repeat="ingredient in shoppingList">
                    {{ingredient.name}}
                    <span class="pull-right">
                        <button class="btn btn-xs btn-info" ng-click="mainClkAction($index)">
                            <span class="glyphicon" ng-class="listMode == 'planning' ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                        </button>
                    </span>
                </li>
            </ul>
            <div ingredient-box adder="addItem"></div>
        </div>
    </div>

</div> <!-- end Angular controller -->

