<div ng-controller="ShoppingListCtrl">

    <div class="btn-toolbar">
        <div class="btn-group" data-toggles="buttons" ng-show="listMode == 'planning'">
            <label class="btn btn-default" ng-click="setTimeframe(1)" ng-class="config.nbrDays == 1 ? 'active' : ''">Idag</label>
            <label class="btn btn-default" ng-click="setTimeframe(2)" ng-class="config.nbrDays == 2 ? 'active' : ''">2 dagar</label>
            <label class="btn btn-default" ng-click="setTimeframe(7)" ng-class="config.nbrDays == 7 ? 'active' : ''">En vecka</label>
            <label class="btn btn-default" ng-click="setTimeframe(7)">...</label>
        </div>
        <div class="btn-group pull-right" data-toggles="buttons">
            <label class="btn btn-default" ng-class="listMode == 'planning' ? 'active' : ''" ng-click="toggleListMode()">Planera</label>
            <label class="btn btn-default" ng-class="listMode == 'picking' ? 'active' : ''" ng-click="toggleListMode()">Handla</label>
        </div>
    </div>
    <div class="row">
        <div ng-class="listMode == 'planning' ? 'col-md-6' : 'col-md-12'">
            <ul class="list-group top-buffer">
                <li class="list-group-item clearfix"
                    ng-repeat="item in shoppingList | orderBy:'ingredient.category.rank'"
                    ng-class="{'removed': item.removed, 'meal': item.meal, 'picked': listMode != 'planning' && item.picked}"
                    ng-hide="(listMode != 'planning') && item.removed"
                    ng-drop="!item.meal" ng-drop-success="onDropComplete(item, $data, $event)">
                    {{item.ingredient ? item.ingredient.name : item.meal.name}}
                    <span class="meal" ng-repeat="meal in item.meals">{{meal.name}}</span>
                    <span class="pull-right">
                        <button class="btn btn-xs btn-info" ng-if="item.ingredient && item.ingredient.category">
                            {{item.ingredient.category.name}}
                        </button>
                        <button class="btn btn-xs btn-info" ng-click="mainClkAction(item)">
                            <span class="glyphicon" ng-class="listMode == 'planning' ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                        </button>
                    </span>
                </li>
            </ul>
            <div ingredient-box adder="addExtra"></div>
        </div>
        <div class="col-md-6" ng-hide="listMode != 'planning'" ng-controller="CategoryListCtrl">
            <h2>Kategorier</h2>
            <ul class="list-group top-buffer">
                <li class="list-group-item clearfix"
                    ng-repeat="cat in categories | orderBy:'rank'"
                    ng-drop="true" ng-drop-success="onDropOnCategory(cat, $data)">
                    <span ng-drag="true" ng-drag-data="cat">{{cat.name}}</span>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="removeCategory($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                </li>
            </ul>
            <form name="newCategory">
                <div class="input-group">
                    <input type="text" class="form-control" ng-minlength="4" ng-model="newCategoryName" placeholder="Namn på ny ketegori">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="newCategory.$invalid" ng-click="addCategory(newCategoryName)"><span class="glyphicon glyphicon glyphicon-plus-sign"></span></button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div class="row top-buffer">
        <button class="btn btn-default btn-lg" ng-click="clearShoppingList()">I'm done!</button>
    </div>

</div> <!-- end Angular controller -->

