<div ng-controller="MealCtrl">
    <h1 ng-model="editMeal" ng-hide="editMeal" ng-click="editMeal = !editMeal">{{meal.name}}</h1>
    <h1 ng-model="editMeal" ng-show="editMeal"><form ng-submit="saveName()"><input type="text" ng-model="meal.name"></form></h1>
    <div>
        <ul class="list-group">
            <li class="list-group-item clearfix"
                ng-repeat="ingredient in meal.ingredients"
                ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                <div>
                    <span ng-drag="true" ng-drag-data="day">{{ingredient.ingredient.name}}</span>
            <span class="pull-right">
                <button class="btn btn-xs btn-info" ng-click="removeIngredient($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
                </div>
            </li>
        </ul>
        <div ingredient-box adder="addIngredient"></div>
    </div>
</div>
