<div ng-controller="ScheduleCtrl" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-toolbar">
                <div class="btn-group" data-toggles="buttons">
                    <label class="btn btn-default" ng-click="scheduleConfig.nbrDays = 14" ng-class="scheduleConfig.nbrDays == 14 ? 'active' : ''">2 veckor</label>
                    <label class="btn btn-default" ng-click="scheduleConfig.nbrDays = 28" ng-class="scheduleConfig.nbrDays == 28 ? 'active' : ''">4 veckor</label>
                    <label class="btn btn-default" ng-click="scheduleConfig.nbrDays = 56" ng-class="scheduleConfig.nbrDays == 56 ? 'active' : ''">8 veckor</label>
                </div>
                <script type="text/ng-template" id="dayConfigTemplate.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Välj de dagar du vill ha med i schemat</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="day in days"
                                ng-class="day.state ? 'active' : ''"
                                ng-click="toggleDayState($index)">{{day.name}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
                <label class="btn btn-default" ng-click="open('sm')">...</label>
                <div class="btn-group pull-right" data-toggles="buttons">
                    <label class="btn btn-default" ng-class="{ 'active': setTodayMode}" ng-click="setTodayMode = !setTodayMode">Sätt idag</label>
                </div>

            </div>
            <img src="/assets/images/spiffygif_20x20.gif" ng-show="loading"/>
            <ul class="list-group schedule-list top-buffer">
                <li class="list-group-item clearfix"
                    ng-repeat="day in schedule.days"
                    ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)"
                    ng-class="{'today': day.today, 'unscheduled': !day.scheduled}">
                    <div>
                        <span>{{days[(day.day - 1) % 7].abbr}} - </span>
                        <span ng-drag="true" ng-drag-data="day">{{day.meal.name}}</span>
                    <span class="pull-right" ng-if="setTodayMode" ng-click="setToday($index)">
                        <button class="btn btn-xs btn-info" ng-if="setTodayMode" ng-click="setToday($index)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </span>
                    <span class="pull-right" ng-if="!setTodayMode && day.scheduled">
                        <button class="btn btn-xs btn-info" ng-click="clearScheduleDay($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-xs btn-info" ng-click="removeDayFromSchedule($index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <span class="pull-right" ng-if="!setTodayMode && !day.scheduled">
                        <button class="btn btn-xs btn-info" ng-click="addDayToSchedule($index)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>Dra recepten till ditt schema för att planera en läcker måltid.</p>
            <form name="mealFilter">
                <div class="input-group">
                    <input ng-model="filterStr" type="text" class="rec-search form-control" placeholder="Sök bland recept"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="filterStr = ''"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </span>
                </div><!-- /input-group -->
            </form>
            <div ng-controller="MealListCtrl">
                <img src="/assets/images/spiffygif_20x20.gif" ng-show="loading"/>
                <ul class="list-group top-buffer">
                    <li class="list-group-item clearfix"
                        ng-repeat="meal in filtered = (meals | filter:filterStr | limitTo:10)">
                        <span ng-drag="true" ng-drag-data="meal">{{meal.name}}</span>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="deleteMeal($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </li>
                    <li class="list-group-item clearfix" ng-if="filtered.length >= 10">...</li>
                </ul>
            </div>
        </div>
    </div>
</div>